@user-color: #81b3d2;
@invert-user-color: #fff;

@main-color: #766357;

@text-color: #000;
@link-color: #000;

@bg-color: #766357;
@invert-bg-color: #fff;
@bg-input-color: #f2f2f2;

@border-color: #f0f0f0;
